/*

|| BASE RULES ||

*/

* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}    

a {
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
}

a:hover {
    color: rgb(115, 145, 115);
}

a,
footer,
p,
.error-message {
    font-family: 'Dosis', sans-serif;
}

body {
    background-image: url("./images/dynamic-style.png"); /* one dot means in same folder */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

body,
html {
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    font-family: 'Cinzel', serif;
    font-size: 20px;
    font-weight: bold;
    width: 50%;
}

fieldset {
    align-content: center;
    display: flex;
    margin: 10px;
    padding: 0;
}



footer {
    background: rgb(78, 78, 78);
    color: white;
    letter-spacing: 1px;
    padding: 4px;
    text-align: center;
    margin-bottom: 0;
}

h1,
h2,
h3,
h5,
label,
.a-sign-up {
    font-family: 'Cinzel', serif;
    text-align: center;
}

h1 {
    background: grey;
    color: white;
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px black;
}

h2,
.a-sign-up
 {
    font-size: 20px;
    padding: 20px;
    text-shadow: 1px 1px 1px grey;
}

/*creates lines before and after h2*/

h2:before, 
h2:after {
    border-bottom: 1px solid;
    content: "";
    display: inline-block;
    margin: 0 .5em 0 -55%;
    vertical-align: middle;
    width: 20%;
}

h2:after {
  margin: 0 -55% 0 .5em;
}

/*end*/

h3 {
    font-size: 20px;
}


header {
    height: 10%;
    width: 100%;
}

html {
    height: 100vh;
    width: 100vw;
}

label {
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

legend {
    text-align: center;
}

li {
    color: white;
}

nav {
    margin: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}

p {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 2em;
    margin: 0;
    padding: 20px;
    text-align: justify;
}

ul {
    background: rgb(78, 78, 78);
    display: flex;
    justify-content: space-around;
    list-style-type: none; /* gets rid of bullets */
    margin: 0;
    padding: 5px;
}

/*

|| LAYOUT ||

*/

.alt-p {
    margin: 5px;
}

.a-sign-up {
    background-color: #808080;
    color: white;
    font-size: 15px;
    padding: 4px;
    text-align: center;
    text-transform: uppercase
}

.border {
    border: 1px solid black;
    margin: 2px;
    padding: 2px;
}

.button-alt-sign-in {
    background-color: beige;
    color: black;
    margin: 2px;
    padding: 2px;
}

.button-container {
    height: 50%;
    margin: auto;
    text-align: center;
    width: 50%;
}

.button-h {
    background: grey;
    margin: 10px;
    text-shadow: 1px 1px 1px black;
    margin-right: 25%;
    margin-left: 25%;

}

.button-join {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}


.container {
    margin: auto;
}

.container-contact {
    height: 80vh;
    margin: auto;
}

.div-content {
    margin: auto;
}

.div-content-contact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.error,
.error-message {
    border: 2px solid maroon;
}

.error-message {
    color: maroon;
    width: 100px;
    text-align: center;
    margin: auto;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 90%;
}

.front-img {
    display: block;
    height: auto;
    opacity: .5;
    width: 100%;
}

.img_container {
    background: white;
    justify-content: center;
    height: auto;
    width: 100%;
}

.input-field {
    height: 35px;
}

.input-field,
.text-box {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}



li,
.li-contact {
    font-size: 20px;
    letter-spacing: 1px;
}

.li-contact {
    color: black;
    text-align: center;
}

.main-content {
    width: 100%;;
}

.nav_link {
    color: white;
    text-shadow: 3px 1px 1px black;
}

.p_content {
    margin: 0;
    text-align: justify;
}

.p-forum {
    border: 1px dotted black;
}

.text-box {
    height: 200px;
}


/*

|| CSS Selectors ||

*/

/* changes mouse cursor when in indicated fields */
input[class="input-field"],
textarea[class="text-box"],
button[type="submit"],
a[class="a-sign-up"] {
    cursor: pointer;
}

#password-login,
#userPassword {
    margin-bottom: 20px;
}

#error-message {
    
}


/*

|| Media Queries ||

*/

@media screen and (max-width: 799px) {

    h1 {
        margin-top: 30px;
    }



}

@media (min-width: 800px){

    .container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin: 0;
        padding: 0;
    }


    .div-content {
        margin-top: 0;
        width: 60%;
    }

    footer {
        margin-bottom: 0;
        padding: 10px;
        text-align: center;
        z-index: 100;
    }

    .form-div {
        margin: 0 25%;
    }

    h1 {
        margin: auto;
        padding: 50px;
        /* height: 40%; */
    }

/* line styling with <h1>, i.e. ----TEXT---- */
    h1:before,
    h1:after {
        border-bottom: 1px solid;
        content: "";
        display: inline-block;
        margin: 0 .5em 0 -55%;
        vertical-align: middle;
        width: 20%;
    }

    h1:after {
        margin: 0 -55% 0 .5em;
    }
/* /line styling to <h1> */

    h2 {
        font-size: 25px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .img_container {
        flex-grow: 2;
        padding: 0;
        width: 20%;
    }

    .input-field {
        width: 60%;
    }

    legend {
        text-align: left;
    }

    .main-content {
        align-self: center;
    }

    p {
        letter-spacing: 2px;
    }

    .p_content {
        font-size: 25px;
        margin-bottom: 40px;
        margin-top: 20px;
        padding: 0 30px;
    }
}



